<!-- Describe task in general -->

<p style="text-align: justify;">
    乔-帕卢卡（Joe Palooka）的手指很粗，所以每当他要输入 "a "时，他总是按 "大写锁定 "键。(当Joe想输入重音 "a "时，需要更多的按键来输入重音，在这种情况下他会更小心（[Shift] + [a]），并正确地按键）。计算并返回Joe键入给定文本的结果。大写锁定 "键只影响从 "a "到 "z "的字母键，对其他键或字符没有影响。假定 "大写锁定 "键最初是关闭的。
</p>

<p><i>对于Joe的键盘，大写锁定始终是大写字母。也就是说，如果大写锁定处于打开状态，Joe按Shift + b键，则打印出 "B"（大写字母）。</i></p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串 (<span>str{% if is_js %}ing{% endif %}</span>).输入的文本。
</p>

<p>
   <strong>输出：</strong>字符串 (<span>str{% if is_js %}ing{% endif %}</span>).输入后显示的文本。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>该任务选自Python CCPS 109 Fall 2018。该课程由Ryerson Chang继续教育学院教授。<a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
