<!-- Describe task in general -->

<p style="text-align: justify;">
    У Джо Палуки товсті пальці, тому він завжди натискає клавішу "Caps Lock", коли насправді має намір натиснути клавішу "a". (Коли Джо намагається ввести якусь акцентовану версію "a", яка потребує більше натискань клавіш для створення акцентів, він більш обережний у присутності таких рафінованих символів ([Shift] + [a]) і буде натискати клавіші правильно). Обчисліть і виведіть результат введення Джо заданого тексту. Клавіша "Caps Lock" впливає лише на клавіші з літерами від "a" до "z", і не впливає на інші клавіші або символи. вважається, що клавіша "Caps Lock" спочатку вимкнена.
</p>

<p><i>Для клавіатури Джо, клавіша Caps Lock завжди є великою літерою. Це означає, що якщо клавіша Caps Lock увімкнена, а Джо натискає Shift + b - він отримає "B" (у верхньому регістрі).</i></p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок (<span>str{% if is_js %}ing{% endif %}</span>). Введений текст.
</p>

<p>
   <strong>Виводиться на екран:</strong> Рядок (<span>str{% if is_js %}ing{% endif %}</span>). Виводиться текст після введення.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>Завдання взято з Python CCPS 109 Fall 2018. Його викладають для Школи безперервної освіти Райерсона Чанга <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
