<!-- Describe task in general -->

<p style="text-align: justify;">
    Joe Palooka a de gros doigts, c'est pourquoi il appuie toujours sur la touche "Caps Lock" lorsqu'il a l'intention d'appuyer sur la touche "a" seule. (Lorsque Joe essaie de taper une version accentuée de "a" qui nécessite plus de frappes pour faire apparaître les accents, il est plus prudent en présence de ces caractères raffinés ([Shift] + [a]) et appuie correctement sur les touches). Calculez et renvoyez le résultat de la saisie du texte donné par Joe. La touche "Caps Lock" n'affecte que les touches de lettres de "a" à "z", et n'a aucun effet sur les autres touches ou caractères. la touche "Caps Lock" est supposée être initialement désactivée.
</p>

<p><i>Pour le clavier de Joe, la touche "Caps Lock" met toujours une lettre en majuscule. Cela signifie que si la touche Verrouillage des majuscules est activée et que Joe fait Maj + b, il obtient l'impression de "B" (en majuscules).</i></p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Une chaîne de caractères (<span>str{% if is_js %}ing{% endif %}</span>). Le texte tapé.
</p>

<p>
   <strong>Sortie:</strong> Une chaîne de caractères (<span>str{% if is_js %}ing{% endif %}</span>). Le texte affiché après avoir été tapé.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>La mission a été tirée de Python CCPS 109 Fall 2018. Il est enseigné pour l'école d'éducation permanente Ryerson Chang par <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
