<!-- Describe task in general -->

<p style="text-align: justify;">
    Joe Palooka hat dicke Finger, daher drückt er immer die Feststelltaste, wenn er eigentlich die Taste "a" selbst drücken will. (Wenn Joe versucht, eine akzentuierte Version von "a" einzugeben, die mehr Tastenanschläge benötigt, um die Akzente hervorzuzaubern, ist er in Gegenwart solcher raffinierten Zeichen vorsichtiger ([Shift] + [a]) und drückt die Tasten richtig). Berechnen Sie das Ergebnis, das sich ergibt, wenn Joe den angegebenen Text eintippt, und geben Sie es zurück. Die Taste "Feststelltaste" wirkt sich nur auf die Buchstabentasten von "a" bis "z" aus und hat keine Auswirkungen auf andere Tasten oder Zeichen. es wird davon ausgegangen, dass die Taste "Feststelltaste" zunächst ausgeschaltet ist.
</p>

<p><i>Bei Joes Tastatur ist die Feststelltaste immer ein Großbuchstabe. Das heißt, wenn die Feststelltaste eingeschaltet ist und Joe die Tastenkombination Umschalt + b drückt, wird 'B' (in Großbuchstaben) gedruckt.</i></p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine Zeichenkette (<span>str{% if is_js %}ing{% endif %}</span>). Der getippte Text.
</p>

<p>
   <strong>Ausgabe:</strong> Eine Zeichenkette (<span>str{% if is_js %}ing{% endif %}</span>). Der angezeigte Text, nachdem er getippt wurde.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>Die Aufgabe wurde aus Python CCPS 109 Herbst 2018 übernommen. Sie wird für die Ryerson Chang School of Continuing Education unterrichtet von <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
