<!-- Describe task in general -->

<p style="text-align: justify;">
    Joe Palooka ma grube palce, więc zawsze naciska klawisz "Caps Lock", gdy zamierza nacisnąć sam klawisz "a". (Kiedy Joe próbuje wpisać jakąś akcentowaną wersję "a", która wymaga więcej naciśnięć klawiszy, aby wyczarować akcenty, jest bardziej ostrożny w obecności takich rafinowanych znaków ([Shift] + [a]) i naciska klawisze poprawnie). Proszę obliczyć i zwrócić wynik wpisania przez Joe podanego tekstu. Klawisz "Caps Lock" wpływa tylko na klawisze liter od "a" do "z" i nie ma wpływu na inne klawisze lub znaki. zakłada się, że klawisz "Caps Lock" jest początkowo wyłączony.
</p>

<p><i>W przypadku klawiatury Joe, Caps Lock jest zawsze wielką literą. Oznacza to, że jeśli Caps Lock jest włączony, a Joe wykona Shift + b - zostanie wydrukowane "B" (wielkimi literami).</i></p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Ciąg znaków (<span>str{% if is_js %}ing{% endif %}</span>). Wpisany tekst.
</p>

<p>
   <strong>Wyjście:</strong> Ciąg znaków (<span>str{% if is_js %}ing{% endif %}</span>). Wyświetlany tekst po wpisaniu.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>Misja została zaczerpnięta z Python CCPS 109 Fall 2018. Jest on prowadzony dla Ryerson Chang School of Continuing Education przez <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i></p>
